.todoItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: background 0.3s ease;

    p, input {
        margin: 0;
    }

    >:first-child {
        margin-right: 1rem;
    }

    &:hover {
        background: #f0f0f0;
    }

    label {
        cursor: pointer;
    }
}

.todoItem__date {
    color: #999;
}

.done {
    label, p {
        text-decoration: line-through;
        color: $light-color;
    }
}
